<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>cars</display-name>
	<servlet>
		<description>
		</description>
		<display-name>reg_cust_Control</display-name>
		<servlet-name>reg_cust_Control</servlet-name>
		<servlet-class>com.nn.control.reg_cust_Control</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>regCusControl</display-name>
		<servlet-name>regCusControl</servlet-name>
		<servlet-class>com.nn.control.regCusControl</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>loginCusControl</display-name>
		<servlet-name>loginCusControl</servlet-name>
		<servlet-class>com.nn.control.loginCusControl</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddcarDetails</display-name>
		<servlet-name>AddcarDetails</servlet-name>
		<servlet-class>com.nn.control.AddcarDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServiceReqControler</display-name>
		<servlet-name>ServiceReqControler</servlet-name>
		<servlet-class>com.nn.control.ServiceReqControler</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServiceStatusControl</display-name>
		<servlet-name>ServiceStatusControl</servlet-name>
		<servlet-class>com.nn.control.ServiceStatusControl</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangePasswordControl</display-name>
		<servlet-name>ChangePasswordControl</servlet-name>
		<servlet-class>com.nn.control.ChangePasswordControl</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminControl</display-name>
		<servlet-name>AdminControl</servlet-name>
		<servlet-class>com.nn.control.AdminControl</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EditCarDetailsControler</display-name>
		<servlet-name>EditCarDetailsControler</servlet-name>
		<servlet-class>com.nn.control.EditCarDetailsControler</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>viewRegisteredCustomberControler</display-name>
		<servlet-name>viewRegisteredCustomberControler</servlet-name>
		<servlet-class>com.nn.control.viewRegisteredCustomberControler</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteCustomer</display-name>
		<servlet-name>DeleteCustomer</servlet-name>
		<servlet-class>com.nn.control.DeleteCustomer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EditCustomerControl</display-name>
		<servlet-name>EditCustomerControl</servlet-name>
		<servlet-class>com.nn.control.EditCustomerControl</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewServiceRequestsControl</display-name>
		<servlet-name>ViewServiceRequestsControl</servlet-name>
		<servlet-class>com.nn.control.ViewServiceRequestsControl</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpDateServiceStatusController</display-name>
		<servlet-name>UpDateServiceStatusController</servlet-name>
		<servlet-class>com.nn.control.UpDateServiceStatusController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>reg_cust_Control</servlet-name>
		<url-pattern>/reg_cust_Control</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>regCusControl</servlet-name>
		<url-pattern>/regCusControl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loginCusControl</servlet-name>
		<url-pattern>/loginCusControl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddcarDetails</servlet-name>
		<url-pattern>/AddcarDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceReqControler</servlet-name>
		<url-pattern>/ServiceReqControler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceStatusControl</servlet-name>
		<url-pattern>/ServiceStatusControl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePasswordControl</servlet-name>
		<url-pattern>/ChangePasswordControl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminControl</servlet-name>
		<url-pattern>/AdminControl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditCarDetailsControler</servlet-name>
		<url-pattern>/EditCarDetailsControler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>viewRegisteredCustomberControler</servlet-name>
		<url-pattern>/viewRegisteredCustomberControler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteCustomer</servlet-name>
		<url-pattern>/DeleteCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditCustomerControl</servlet-name>
		<url-pattern>/EditCustomerControl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewServiceRequestsControl</servlet-name>
		<url-pattern>/ViewServiceRequestsControl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpDateServiceStatusController</servlet-name>
		<url-pattern>/UpDateServiceStatusController</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
